language: node_js
notifications:
  email: false
node_js:
  - 'lts/*'
  - 'node'
sudo: false
cache: npm
before_script:
  - npm install tape-run
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
script:
  - npm run test:ci
before_deploy:
- npm run jsdoc
deploy:
  provider: pages
  skip_cleanup: true
  github_token: "$GITHUB_TOKEN"
  keep-history: true
  on:
    branch: master
  local-dir: docs
  target_branch: gh-pages
branches:
  only:
    - master
addons:
  chrome: stable
  firefox: latest
  apt:
    packages:
      - xvfb